.table_nav {
    width: 1086px;
    height: 50px;
    margin-top: 30px;
    margin-left: 90px;
    margin-right: 90px;
    border: 1px solid #01384D;

    th {
        color: white;

    }

    tbody {
        tr {
            border: 1px solid #000;
        }
        td{
        height: 40px;
        }
    }

}
.tbody__icon {
    display: flex;
    justify-content: space-around;
}
.table_head {
    background-color: #01384D;
    th{
    width: 40px;
    }

    // tr{
    //     width: 1086px;
    //     height: 50px;
    // }
}
.trashh{
    padding: 5px;
    background-color: rgb(206, 94, 120);
    border-radius: 5px;
    color: white;
}
.formm{
width: 105px;
font-size: 20px;
}

.td_d{
    width: 5px;
}

