*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.texno{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
}
.texno_head{
    width: 1086px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #01384d;
    color: white;
}
.list_head{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 470px;
    height: 30px;
    margin-top: 15px;
}
.list_head_item{
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 18px;
    margin-left: 10px;
}

.texno_body{
    width: 1086px;
    height: 50px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
}
.list_body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 580px;
    height: 30px;
    li{
        margin-right: 50px;
        color: black;
        margin-top: 15px;
    }
}
.manzil_from_delete{
    display: flex;
    list-style-type: none;
    width: 120px;
    height: 30px;
}
.manzil_from_delete_li{
    font-size: 20px;
    color: black;
    padding: 6px;
}
.manzil_from_delete_il{
    font-size: 20px;
    padding: 5px;
}