.wrapper1{
    flex-grow: 1;
    margin-top: 50px;
}

.table{
    width: 1086px;
    height: 50px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #01384D;

    thead{
        background-color:#01384D;
        th{
            color: white;
        }
    }
}




.table__action{
    display: flex;
    justify-content: space-around;
}



.modal-add{
    width: 1090px;
    height: 430px;
    right: 0;
    left: 0;
}
