.buyurtmalar{
    flex-grow: 1;
}

.buyurtmalar_table{
    width: 1100px;
    height: 90px;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: auto;
    border: 1px solid #01384D;
    

    thead{
        background-color:#01384D;
        
    }
    tbody {
        tr {
            border: 1px solid #000;
            
        }
        td{
        height: 40px;
        font-size: 19px;
        }
        
    }
    
}





