.Statistica__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    .static{
        p{
            font-weight: 700;
            font-size: 120px;
            line-height: 141px;
            color: #01384D;
        }
        span{
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: #01384D;
        }
    }
}
@media only screen and (max-width: 770px){
    .static{
        margin-left: 50px;
    }
}
@media only screen and (max-width: 520px){
    .static{
        p{
            font-size: 100px !important;
        }
        span{

            font-size: 18px !important;

        }
    }
}
@media only screen and (max-width: 480px){
    .Statistica{
        width: 100px !important;
        margin-right: 10px;
    }
    .static{
        p{
            font-size: 80px !important;
        }
        span{

            font-size: 15px !important;

        }
    }
}