.wrapper{
    flex-grow: 1;
}

.table{
    width: 1086px;
    height: 50px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #01384D;

    thead{
        background-color:#01384D;
        th{
            color: white;
        }
    }
}


.add__button {
    float: right;
    margin-top: 188px;
    margin-right: 110px;
    background: #01384D;
    border-radius: 8px;
    width: 135px;
    height: 40px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.table__action{
    display: flex;
    justify-content: space-around;
}

// modal
.modal__wrapper2{
    width: 1090px !important;
    height: 430px !important;
}

.modal_img{
    input{
        background: url('https://icons.iconarchive.com/icons/praveen/minimal-outline/512/gallery-icon.png') !important;
    }
}