.Category_sliditem{
  margin-top: 150px;
  .title{
    font-weight: 700;
    font-size: 50px;
    line-height: 59px; 
    color: #01384D;
    text-align: center;
  }
}
.listC{
  margin-top: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .C-act{
    list-style-type: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #01384D;
  }
  .list__itemC{
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #01384D;
    opacity: 0.6;
  }
  :hover{
    background: #01384D;
    opacity: 0.8;
    color: white;
    text-align: center;
    border-radius: 5px;
    width: 131px;
    height: 45px;
  }
}