  .Category_sliditem{
  margin-top: 150px;
  .title{
    font-weight: 700;
    font-size: 50px;
    line-height: 59px; 
    color: #01384D;
    text-align: center;
  }
}
.listC{
  margin-top: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .list__item-act{
    list-style-type: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #01384D;
    text-align: center;
    &:hover{
      background: #01384D;
      opacity: 0.8;
      color: white;
      border-radius: 5px;
      width: 131px;
      height: 45px;
      border-radius: 10px;
      transition: all ease 0.5s;
      p{
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
      }
    }
  }
  .list__itemC{
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #01384D;
    opacity: 0.6;
    &:hover{
      background: #01384D;
      opacity: 0.8;
      color: white;
      border-radius: 5px;
      width: 131px;
      height: 45px;
      border-radius: 10px;
      transition: all ease 0.5s;
      p{
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
      }
    }
    
  }

}
@media only screen and (max-width: 1000px){
  .listC{
    display: none;
  }
  .title{
    font-size: 40px;

  }
}
@media only screen and (max-width: 600px){
  .title{
    font-size: 37px !important;
  }
}
@media only screen and (max-width: 400px){
  .title{
    font-size: 30px !important;
  }
}