.headerr{
    background: #EABF9F;
    height: 1000px;
    margin: 0 auto;
}
.container{
    width: 1300px;
    height: max-content;
    margin: 0 auto;
}
.nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    a{
        color: #01384D;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        margin-right: 50px;
    }
}
.logo-btn{
    width: 100%;
    display: flex;
    .btn-ra{
        display: flex;
        margin-left: 650px;
        margin-top: 20px;
        p{
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #01384D;
            padding: 10px;
            margin-right: 50px;
            
        }
        button{
            width: 180px;
            height: 46px;
            background: #FFFFFF;
            border: 2px solid #01384D;
            border-radius: 5px;
        }
    }
}
.header_M{
    position: relative;
    margin-top: 84px;
    .header_M-title{
        width: 700px;
        font-weight: 800;
        font-size: 90px;
        line-height: 105px;
        color: #01384D;

    }
    .slider_bots{
        margin-left: 550px;
    }
    .M-button{
        position: absolute;
        border: 2px solid #01384D;
        border-radius: 5px;
        padding: 14px 50px; 
        margin-top: -300px;
    }
    .line{
        width: 250px;
        height: 3px;
        background: #FFFFFF;
        border-radius: 10px;
        margin-top: -50px;
        &::before{
            content: "";
            width: 50px;
            height: 3px;
            background: #01384D;
            border-radius: 10px;
            position: absolute;
        }
    }
}
